
// color
@mgjcColorPrimary: #1AAD19;
@mgjcColorWarn: #E64340;

// link
@mgjcLinkColorDefault: #586C94;

// background
@mgjcBgColorDefault: #EFEFF4;
@mgjcBgColorActive: #ECECEC;

// line
@mgjcLineColorLight: #E5E5E5;
@mgjcLineColorDark: #BCBAB6;

// text
@mgjcTextColorTitle: #000000;
@mgjcTextColorTips: #B2B2B2;
@mgjcTextColorWarn: @mgjcColorWarn;
@mgjcTextColorGray: #999999;




