// color
@tshColorPrimary: #1AAD19;
@tshColorWarn: #E64340;

// link
@tshLinkColorDefault: #586C94;

// background
@tshBgColorDefault: #EFEFF4;
@tshBgColorActive: #ECECEC;

// line
@tshLineColorLight: #E5E5E5;
@tshLineColorDark: #BCBAB6;

// text
@tshTextColorTitle: #000000;
@tshTextColorTips: #B2B2B2;
@tshTextColorWarn: @tshColorWarn;
@tshTextColorGray: #999999;
